*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.container{
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 358px;
    display: inline-block;
    width: 258px;
    background-color: rgba(216, 43, 43, 0.995); 
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.card::before{
    content: '';
    position: absolute;
    top: -50%;
    height: 100%;
    width: 100%;
    background-color: blue;
    transform: skewY(385deg);
}
.card:hover:before{
    content: '';
    position: absolute;
    top: -50%;
    height: 100%;
    width: 100%;
    background-color: blue;
    transform: skewY(-385deg);
}

